* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif
}

header {
  color: #fff;
  border-bottom: 1px solid #111;

  h1 {
    font-weight: normal;
    font-size: 22px;
    padding: 8px;
  }
}

table {
  color: #fff;
  border-collapse: collapse;
  tr th {
    text-align: left;
  }
  td, th {
    padding: 4px;
  }
}